<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Хакимов_автосервисEntities" connectionString="metadata=res://*/HakimovAutoservice.csdl|res://*/HakimovAutoservice.ssdl|res://*/HakimovAutoservice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-9\SQLEXPRESS;initial catalog=Хакимов_автосервис;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>